
.tablecontent,td{
    background-color: rgb(43, 49, 102);
    color: white;
    
}

body {
    text-align: center;
}

#table,th{
    color: white;
    background-color: rgb(89, 89, 199);
}
.background {
    background-image: url(https://th.bing.com/th/id/OIP.6Axh0-PYY8UQVpfS08w3gwHaE8?w=264&h=180&c=7&r=0&o=5&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}